.b1{
    position: relative;
    width: 400px;
    height: 350px;
   margin-left:800px; 
   bottom:279px ;
    
   
}
.t1{
    
    width: 350px;
    height:40px;
    margin-top:14px ;
    margin-left: 25px;
    border-radius:6px ;
    padding-left: 10px;
}
.t2{
    width: 350px;
    height:40px;
    margin-left: 25px;
    margin-bottom:8px ;
    border-radius:6px ;
    padding-left: 10px;
}   
.l1{
   margin-left:25px;
   width:359px ; 
   height:40px;
   margin-top:2px ;
   font-size:larger ;
   border-radius:6px ;
} 
.fo{
    margin-left:143px ;
      position: relative;
      top: 12px ;
      text-decoration: none;
      border-radius:6px ;
} 
.line{
 position: relative;
 top:25px ;
 width:335px ;
 margin-left:30px ;


}
.ct{
  position: relative; 
  top:55px ; 
  margin-left:120px ;
  height: 45px ;
  width: 150px;
  border-radius:6px ;
  
}
.fbh{
    width:100px ;
    height:100px ;
    position: relative;
    margin-right: 850px ;
} 
.la{
    position: relative;
   top:140px ;
   right: 230px;
    color: black;
    text-decoration: none;
    
} 
.la1{
    position: relative;
    top:98px ;
    left:140px ;
    font-size:10px ;
    font-family:Helvetica, Arial, sans-serif ;
}