.head{
    margin-left:520px ;
    font-size: larger;
}
.ph{
    width:200px ;
    height: 200px;
}
.ph1{
   position: relative; 
   width:200px ;
    height: 200px;
    margin-left:50px ;
}
.ph2{
    position: relative; 
   width:200px ;
    height: 200px;
    margin-left:50px ;
}
.ph3{
    position: relative; 
    width:200px ;
     height: 200px;
     margin-left:50px ; 
}
.ph4{
    position: relative; 
    width:200px ;
     height: 200px;
     margin-left:50px ;  
}
.ph5{
    position: relative;
    width:200px ;
     height: 200px;
     
}
.ph6{
    position: relative; 
    width:200px ;
     height: 200px;
     margin-left:50px ; 
}
.ph7{
    position: relative; 
    width:200px ;
     height: 200px;
     margin-left:50px ;  
}
.ph8{
    position: relative; 
    width:200px ;
     height: 200px;
     margin-left:50px ;  

}
.ph9{
    position: relative; 
    width:200px ;
     height: 200px;
     margin-left:50px ;  
}
.ph10{
  position: relative;
 width:200px ;
 height: 200px;  
   
}
.ph11{
    position: relative; 
    width:200px ;
     height: 200px;
     margin-left:50px ; 
}
.ph12{
    position: relative; 
    width:200px ;
     height: 200px;
     margin-left:50px ;  
}
.ph13{
    position: relative; 
    width:200px ;
     height: 200px;
     margin-left:50px ;   
}
.ph14{
    position: relative; 
    width:200px ;
     height: 200px;
     margin-left:50px ; 
}
.ph15{
    position: relative; 
    width:200px ;
     height: 200px;
     
}
.ph16{
    position: relative; 
    width:200px ;
     height: 200px;
     margin-left:50px ;
}        
   
.ph17{
    position: relative; 
    width:200px ;
     height: 200px;
     margin-left:50px ; 
}
.ph18{
    position: relative; 
    width:200px ;
     height: 200px;
     margin-left:50px ; 
}
.ph19{
    position: relative; 
    width:200px ;
     height: 200px;
     margin-left:50px ; 
}
.n1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: medium;
   font-variant-ligatures: no-discretionary-ligatures;
}




   

